html {
    background-color: #444444;
    background: url(WeddingPhoto.jpg) no-repeat center fixed;
    background-size: cover;
}

body{
    color: antiquewhite;
    font-family: sans-serif;
}

#title {
    background-color: #7b876d;
    border-radius: 25px;
    margin-left: 10px;
    padding: 5px;
    text-align: left;
    line-height: 0.2;
    position: sticky;
}

#title h1 {
        padding-bottom: 0px;
        padding-left: 50px;
        font-weight: normal;
}

#title p{
    padding-top: 0px;
    padding-left: 115px;
    padding-bottom: 10px;
    margin: 0px;
}

#navBar {
    border-bottom-left-radius:25px;
    margin-left: 40px;
    width: auto;
    height: auto;
    border: double;
    padding: -40px;
    display: inline-block;
}

#navBar ul{
    margin:0;
    padding:0;
    overflow: hidden;
    list-style-type: none;
}

#navBar li{
    display:inline;
    padding:0px;
    float:left;

}

#homescreen {
    border-bottom-left-radius: 25px;
    border:none;
}

#navBar button {
    font-weight: bold;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #7b876d;
    color: black;
    border: none;
    border-right: double;
    border-color: antiquewhite;
}

    #navBar button:hover {
        background-color: #84C7C1;
        color: antiquewhite;
    }